<ul class="list-inline">
  <li class="list-inline-item">
    <a href="#link">Kontakt</a>
  </li>
  <li class="list-inline-item">
    <a href="#link">Polityka prywatności</a>
  </li>
  <li class="list-inline-item">
    <a href="#link">Pliki cookies</a>
  </li>
</ul>

