<ul class="ss-menu">
  <h5>
    <span> <%= SS.i18n.t('MENU.TITLE') %> </span>
    <a id="menuHideShow"><%= SS.i18n.t('MENU.HIDE') %></a>
  </h5>
  <div id="menuItemsContainer">
    <% _.each(menuItems, function (menuItem) { %>
    <li class="ss-menu-item <%= menuItem.active ? 'active' : '' %>">
      <a href="<%= menuItem.path %>"> <%= menuItem.label %></a>
      <% if (menuItem.icon) { %>
      <i class="mdi <%= menuItem.icon %>"></i>
      <% } %>
    </li>
    <% }); %>
  </div>
</ul>
