#breadcrumbs {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    background-color: $gray-100;
    margin-bottom: 1rem;
  }

  div {
    margin: 0.3rem 0;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: inherit;
    font-weight: $fw-bold;
    font-size: $small-font-size;
  }
}
