/* COLORS */
$color-primary: #239E42;
$color-secondary: #6837AB;
$color-tertiary: #EA9628;

$color-background: #dddddd;
$color-background-secondary: #aaaaaaa;

$color-text: #343a40;

/* FONT WEIGHTS */
$fw-light: 200;
$fw-standard: 300;
$fw-bold: 400;
